<section class="card">
  <!-- This is for card income -->
  @if (type == 'Income') {
  <div class="inner-card">
    <div class="icon-category">
      <app-icons class="icon" [category]="category"></app-icons>
      <div>
        <h2>{{category}}</h2>
        <p>{{fiveWordsNotes(notes || '')}}</p>
      </div>
    </div>
    <div class="date-amount">
      <p>{{date}}</p>
      <h3>{{amount}}</h3>
    </div>
  </div>
  }

  <!-- This is for card expense -->
  @else {
  <div class="inner-card">
    <div class="icon-category">
      <app-icons class="icon" [category]="category"></app-icons>

      <div>
        <h2>{{category}}</h2>
        <p>{{fiveWordsNotes(notes || '')}}</p>
      </div>
    </div>
    <div class="date-amount">
      <p>{{date}}</p>
      <h3>{{amount}}</h3>
    </div>
  </div>
  }
</section>
