.card {
  padding: 20px;
  // width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.progress-div {
  position: relative;
  width: 450px;
  background-color: #b6b6b6;
  border-radius: 30px;
}

.progress-bar {
  height: 25px;
  background-color: green;
  border-radius: 30px;
  transition: 0.5s linear;
  transition-property: width, background-color;
  animation: progress 5s forwards;
}
