.example-container {
  height: 400px;
  max-width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  // min-width: 100%;
  // white-space: nowrap;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

// @media (max-width: 992px) {
//   .example-container {
//     width: 500px;
//   }
// // }

// @media (max-width: 768px) {
//   .example-container {
//     width: 500px;
//   }
// }

// @media (max-width: 660px) {
//   .example-container {
//     width: 450px;
//   }
// }

// @media (max-width: 600px) {
//   .example-container {
//     width: 390px;
//   }
// }

// @media (max-width: 500px) {
//   .example-container {
//     width: 350px;
//   }
// }
