// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color-scheme: light;
  // background-color: var(--mat-sys-surface);
  max-width: 950px;
  margin: 0 auto;
  background-color: #f1f2fa;
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", "Arial", sans-serif;
}

.app-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sidenav-width: 300px; // <- already exists
  --sidenav-collapsed-width: 65px; // <- we define a new one
}
