.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //   align-items: center;
  gap: 30px;
}

img {
  width: 100%;
  //   border-radius: 12px;
}

.btn:link,
.btn:active:visited {
  background-color: #099268;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 32px;

  display: inline-block;
  border-radius: 100px;
}
