section {
  margin-bottom: 30px;
}

img {
  width: 100%;
  //   border-radius: 12px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //   align-items: center;
  gap: 30px;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // color: white;
}

.card {
  // background-color: #099268;
  margin-right: 20px;
  border-radius: 12px;
  // padding: 10px;
}

.btn:link,
.btn:active:visited {
  background-color: #099268;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px 32px;

  display: inline-block;
  border-radius: 100px;
}
